<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <section>
    <h1>Make a newComment</h1>
    <form action="/comments" method="post">
        <label for="username">Enter USername:</label>
        <input type="text" id="username" placeholder="username" name="username">
    </section>
    <section>
        <label for="comments">Comment Text</label>
        <br>
        <textarea name="comments" id="comments"></textarea>
    
</section>
<button>Submit</button>
</form>
</body>
</html>