<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%=4+5+1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia reiciendis facere cupiditate iste inventore incidunt eos at atque facilis nostrum? Odit mollitia quae quia esse amet, magni earum dolores nemo.
    Voluptatum dolor doloremque nesciunt in, delectus velit necessitatibus repellat nemo ipsa aspernatur explicabo est aliquid dolorem suscipit! Reprehenderit enim sed doloremque doloribus perspiciatis rem corrupti aliquam in. Impedit, delectus mollitia.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis maxime maiores ex architecto MY RANDOM NUMBER IS: <%=n%> 
    itaque laboriosam a esse rerum. Omnis iusto quod vitae sit error adipisci temporibus ut deleniti nihil at?</p>
    <% if(n%2===0){ %>
        <h2>that is an even number</h2>
    <%} else { %>
        <h2>that is an odd number</h2>
   <% }%>
</body>
</html>