img{
    width:30%;
    margin:calc(10%/6);
    /* margin:1.666%; */
} 
nav{
    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:calc(10%/6);
    border-bottom:2px solid grey;
    width:30%;
    padding:1.2em 0;
    
}